{% extends "network/layout.html" %}

{% block body %}
{% load static %}
    <h2>Time Line</h2>
    <div class="container">
    
      <form method="post" action="{% url 'new_post' %}">
        {% csrf_token %}
        <div class="form-group">
          <textarea name="text" placeholder="Write your post..." required></textarea>
        </div>
        <button type="submit">Post</button>
      </form>
  
      
      {% for post in posts %}
        <div class="post">
          <div class="post-header">
            <img src="{{ post.author.profile.photo_url }}" alt="{{ post.author.username }}">
            <p>{{ post.author.username }}</p>
          </div>
          <div class="post-body">
            <p>{{ post.text }}</p>
          </div>
          <div>
            <button class="like-button" data-post="{{ post.id }}">
              <a href="{% url 'like_post' post.id %}">
                  <img src="{% if post.user_liked > 0 %}{% static '../../../../static/network/heart1.png' %}{% else %}{% static '../../../../static/network/heart2.png' %}{% endif %}" alt="Like">
              </a>
              <a class="like-count">{{ post.likes.all.count }}</a>
           </button>

            <p></p>

            <a class="post-footer">
              <button class="comment-button">Comments</button>
            </a>
          </div>
  
    
          <form class="comment-form" method="post" action="{% url 'add_comment' post.id %}">
            {% csrf_token %}
            <div class="form-group">
              <textarea name="texto" placeholder="Add Comment" required></textarea>
            </div>
            <button type="submit">Comment</button>
          </form>
  
          <div class="comments">
            {% for comment in post.comment_set.all %}
              <div class="comment">
                <p>{{ comment.user.username }}: {{ comment.text }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}