body {
    text-size-adjust: 100%;
    padding: 0px;
    background-color: #BEDAE6;
    -webkit-text-size-adjust: 100%;
}

h2 {
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

.logo {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #BEDAE6;
  height: 200px;
}
.logo img {
  width: 200px;
}

.logintext{
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 10px;
}

.navlog{
    right: 10px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #134ABA;
    color: rgb(169, 223, 246);
}

.navlog{
    right: 10px;
}

.topnav select{
    text-align: justify;
    background-color: #333;
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}

.topnav select:hover {
    background-color: #010dff;
    color: black;
    border: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
  
form {
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
}
  
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
  
form button {
  background-color: #134ABA;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

form button:hover {
  background-color: #3f76e4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.post {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
  
.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.post-header a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.post-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.post-header p {
  margin: 0;
}

.post-body{
  display: flex;
  flex-direction: column;
}

.post-body a{
  padding-left: 96%;
}
.post-body p {
  margin-bottom: 10px;
  text-align: justify;
}
.post-date {
  color: #999;
  font-size: 10px;
  padding-left: 590px;
}

.post-footer button {
  background-color: #3e75e4;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px;
}

.comment-body{
  display: flex;
  flex-direction: column;
}

.comment-body a{
  padding-left: 96%;
}

.comment-form {
  margin-top: 10px;
  padding-left: 50px;
}

.comment-body p {
  margin: 10px;
  text-align: justify;

}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
  
.comment-form button {
  background-color: #1a5fea;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.comment-form button:hover {
  background-color: #4372d0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 0px;
}

.like-button img {
    width: 24px;
    height: 24px; 
}

.like-count {
  color: #000000;
  font-weight: bold;
  margin-left: 0px;
  font-size: 14px;
}
.pagination {
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.pagination button{
  background-color: #333333;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 10px;
}

.pagination span{
  margin: 0 10px;
  background-color: transparent;
}

.comments{
  padding-left: 50px;
  padding-right: 20px;
}
.comment {
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 20px;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.comment-header a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.comment-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.comment-header p {
  margin: 0;
}

.comment-info p {
  margin: 0;
  font-weight: bold;
}

.comment-date {
  color: #999;
  font-size: 10px;
  padding-left: 500px;
}

.comments-body p {
  margin-bottom: 10px;
  text-align: justify;
}

.user-profile {
  margin: 0 auto;
  width: 56%; 
  padding: 20px;
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
}

.user-profile-header {
  text-align: center;
  margin-bottom: 20px;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.user-profile h2 {
  margin: 5px 0;
}

.user-profile-posts {
  margin-top: 20px;
}
.user-profile-posts h3 {
  font-size: 20px;
}

.container-followers {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.followers-list {
  list-style: none;
  padding: 0;
}

.follower-item {
  margin-bottom: 20px;
}

.follower-container {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.follower-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}


.follower-name {
  margin-right: 10px;
  margin-top: 10px;
}

.unfollow-button {
  background-color: #ef1717;
  color: #ffffff;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}
.unfollow-button:hover {
  background-color: #e3391e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.unfollow-button:active {
  background-color: #f60a0a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
  transition: background-color 0s, box-shadow 0s, transform 0.2s;
}
.following-button {
  background-color: #2bc111;
  color: #ffffff;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.following-button:hover {
  background-color: #13790c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.following-button:active {
  background-color: #2de70c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
  transition: background-color 0s, box-shadow 0s, transform 0.2s;
}

.follower-container a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.followers-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #134ABA;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.followers-button:hover {
  background-color: #2980b9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.followers-button:active {
  background-color: #2980b9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
  transition: background-color 0s, box-shadow 0s, transform 0.2s;
}

.edit-icon {
  width: 20px;
  height: 20px;
}

.delete-form{
  display: flex;
  padding-top: 0px;
}
.delete-form button {
  background-color: #f50909; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-form button:hover {
  background-color: #ee5656;
}